@import './countrySelect.scss';

@mixin select-scrollbar ($focus) {
    &::-webkit-scrollbar {
        width: 1em;
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #564e3c;
      border-radius: 25px;
      outline: 1px solid slategrey;

      @if $focus == 'true' {
          background-color: rgba(114, 33, 10, 0.877);
      }
    }
}

* {
    box-sizing: border-box;
}

.nopadding {
    padding: 0;
}

.vertical-intend {
    margin-top: 15px;
}

body {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.page-header {
    &.page-intro {
        height: 100vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &.background {
        background-image: url('../../images/1.jpg');
        background-size: cover;
        background-position: center;
    }

    .navbar-custom {
        font-size: 5vw;
        background-color: rgba(0,0,0, 0.5);
        width: 100%;
        flex-flow: nowrap row;

        @media (min-width: 575px) {
            font-size: 3.9vw;
        }
        @media (min-width: 768px) {
            font-size: 3.5vw;
        }

        @media (min-width: 992px) { 
            font-size: 2.2vw;
         }

         .nav-link {
             color: #94999e;

             &:hover {
                 color: #72777c
             }
         }
    }  
}

.main-content {
    background-color: #938665;
    padding: 85px 0;

    .form-inline {
        input[type="text"], 
        select {
            width: 100%;
            background-color: transparent;
            border: 1px solid;
            border-radius: 25px;
            &:focus {
                box-shadow: 1px 1px 0px 1px rgba(255, 87, 34, 0.44), -1px -1px 0px 1px rgba(255, 87, 34, 0.44);
                border-color: rgba(255, 87, 34, 0.44);
            }
        }
        

        select {
            &:focus {
                @include select-scrollbar('true')
            }
           @include select-scrollbar('false');
        }

        .btn-select {
            &:hover {
                background-color: rgba(114, 33, 10, 0.877);
            }

            &:focus {
                box-shadow: 1px 1px 0px 1px rgba(255, 87, 34, 0.44), -1px -1px 0px 1px rgba(255, 87, 34, 0.44);
                border-color: rgba(255, 87, 34, 0.44);
            }
        }
    }
}